extends layout

block content
	#results.container
		.well.well-sm
			| <strong>#{type} results for: #{query}</strong>

		#products.row.list-group
			for hit in hits
				.item.col-xs-12.col-md-12.col-lg-12
					.thumbnail
						.caption
							.col-xs-12.col-md-7.col-lg-7
								h4.group.inner.list-group-item-heading
									| #{hit._source.speakername}
							.col-xs-12.col-md-4.col-lg-4
								p.lead(align='right')
									| #{hit._source.date}
							p.group.inner.list-group-item-text
								| #{hit._source.content}
							.col-xs-12.col-md-offset-4.col-md-4.col-lg-offset-4.col-lg-4
								a.btn.btn-success.btn-block(href='/view/' + encodeURIComponent(hit._id)) View
								a.btn.btn-info.btn-block(href='/similar/' + encodeURIComponent(hit._id)) Similar

// block comment
					a(href='/similar/' + encodeURIComponent(hit._id))
						b #{hit._source.date}
					p #{hit._source.content}
// block