extends layout

block content
    #results.container
        .well.well-sm
            | <strong>#{type} results for: #{query}</strong>

        #products.row.list-group
            .item.col-xs-4.col-lg-4
                .thumbnail
                    .caption
                        .col-xs-12.col-md-7
                            if current._source.speakername
                                h4.group.inner.list-group-item-heading
                                    | #{current._source.speakername}
                        .col-xs-12.col-md-4
                            p.lead(align='right')
                                | #{current._source.date}
                        for document in documents
                            if document._source.id == current._source.id
                                div#current
                                    p.group.inner.list-group-item-text
                                        b #{document._source.speakername}
                                        !=document._source["content-orig"] 
                            else
                                p.group.inner.list-group-item-text
                                    b #{document._source.speakername}
                                    !=document._source["content-orig"] 


// block comment
                    a(href='/similar/' + encodeURIComponent(hit._id))
                        b #{hit._source.date}
                    p #{hit._source.content}
// block